<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.prac.mapper.ProductMapper">

    <!--추가-->
    <insert id="insert">
        INSERT INTO TBL_PRODUCT (PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_COMPANY, PRODUCT_PRICE)
        VALUES (SEQ_ITEM.NEXTVAL, #{productName}, #{productCompany}, #{productPrice})
    </insert>

    <!--수정-->
    <update id="update">
        UPDATE TBL_PRODUCT
        SET PRODUCT_NAME = #{productName}, PRODUCT_COMPANY = #{productCompany}, PRODUCT_PRICE = #{productPrice}
        WHERE PRODUCT_NUMBER = #{productNumber}
    </update>

    <!--조회-->
    <select id="select" resultType="productVO">
        SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_COMPANY, PRODUCT_PRICE FROM TBL_PRODUCT
        WHERE PRODUCT_NUMBER = #{productNumber}
    </select>

    <!--전체 조회-->
    <select id="selectAll" resultType="productVO">
        SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_COMPANY, PRODUCT_PRICE FROM TBL_PRODUCT
    </select>

</mapper>



