<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MUSIC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <style>
        @media (max-width: 918px){
            .writer {display: none;}
            .regDate	 {display: none;}
            .updateDate {display: none;}
        }
    </style>
</head>
<body class="is-preload">
<!-- Main -->
<div id="main">
    <div class="wrapper">
        <div class="inner">

            <!-- Elements -->
            <header class="major">
                <h1>MUSIC</h1>
                <p>음악 목록</p>
            </header>
            <!-- Table -->
            <h3><a th:href="@{/music/write}" class="button small">음악 등록</a></h3>
            <h3><a th:href="@{/music/kim}" class="button small">김씨 음악 찾기</a></h3>

            <!--==========================================================================================================================-->

            <form th:action="@{/board/list}" name="searchForm" th:object="${criteria}"> <!--criteria안에는 page,amount,type,keyword가 있다.-->
                <div class="fields">
                    <div class="field">
                        <div id="searchWrap">

                            <select name="type">
                                <option value="">검색 기준</option> <!--여기서 하나를 고르면 type에 해당 값이 들어간다. ex)tcw,t,c등 들어간다.-->
                                <option value="tcw" th:selected="*{type} == 'tcw'">전체</option>
                                <option value="t" th:selected="*{type} == 't'">제목</option>
                                <option value="c" th:selected="*{type} == 'c'">내용</option>
                                <option value="w" th:selected="*{type} == 'w'">작성자</option>
                                <option value="tc" th:selected="*{type} == 'tc'">제목 또는 내용</option>
                                <option value="tw" th:selected="*{type} == 'tw'">제목 또는 작성자</option>
                                <option value="cw" th:selected="*{type} == 'cw'">내용 또는 작성자</option>
                            </select>

                            <input type="text" th:field="*{keyword}" th:value="*{keyword}"> <!--그리고 keyword는 text태그이니까 내가 입력한 값이 들어간다.-->
                            <a href="" class="search button primary icon solid fa-search">검색</a>
                            <!--a태그에 ""로 해놓으면 아래 JS확인, 보면 이 a태그 이벤트를 막고 검색 누를시 submit한거이다.-->
                            <!--이렇게 되면 type에서 하나를 고르고 text에 입력한 값을 가지고 th:action="@{/board/list}"로 넘어간다. -->

                        </div>
                    </div>
                </div>
            </form>

            <!--==========================================================================================================================-->

            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr class="tHead">
                        <th class="bno">번호</th>
                        <th class="title">제목</th>
                        <th class="writer">가수</th>
                        <th class="writer">가사</th>
                        <th class="regDate">작성일</th>
                        <th class="updateDate">수정일</th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="music:${music}"> <!--controller에서 boards(boardVO들)이 넘어온다. 그걸 board에 담아서 반복-->
                        <tr class="tBody" th:object="${music}">
                            <td class="bno" th:text="*{musicNumber}"></td>
                            <td class="title"><a th:text="*{musicTitle}" th:href="@{/music/read(musicNumber=*{musicNumber})}"></a></td>
                            <!--해당 넘버로 가지고 read경로 이동-->
                            <td class="writer" th:text="*{musicSinger}"></td>
                            <td class="Lyrics" th:text="*{musicLyrics}"></td>
                            <td class="regDate" th:text="*{musicRegisterDate}"></td>
                            <td class="updateDate" th:text="*{musicUpdateDate}"></td>
                        </tr>
                    </th:block>
                    </tbody>

                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script th:inline="javascript">

    let musicNumber = [[${musicNumber}]];
    console.log(musicNumber);
    $(document).ready(function(){
        if(musicNumber == '' || history.state){
            return;
        }

        if(parseInt(musicNumber) > 0){
            alert("게시글 " + parseInt(musicNumber) + "번이 등록되었습니다.");
        }
        history.replaceState({}, null, null);
    })

</script>
</body>
</html>